body{
    font-family: cursive;
}
.profile-pic{
    width: 70px;
    height: auto;
    margin-left: 20px;
    
}
#userId{
    list-style: none;
    font-size: 20px;
}
.dis{

    display: flex;
    align-items: center;
}
.my-messages{
    background-color:white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: fit-content;
     padding-right: 20px;
}
.others-messages{
    background-color: purple;
    border: 2px solid black;
    border-radius: 5px;
     padding: 10px;
     padding-right: 20px;
    margin: 5px;
    margin-left: 30px;
    width: fit-content;
}
.id{
    font-size: 15px;
}
.my-messages .time{
    font-size: 10px;
    color: grey;
}
.others-messages .time{
    font-size: 10px;
    color:white;
}
.chat-image{
    width:200px;
    height: auto;
}